@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --font-family: "Raleway", sans-serif;
  --font-footer: "Montserrat", sans-serif;
  --color-texto: rgb(70, 70, 70);
  --color-texto-hover: rgb(0, 0, 0);
  --color-fondo: rgb(245, 245, 245);
  --color-fondo-hover: rgb(221, 221, 221);
  --color-fondo-section: rgb(234, 242, 253);
  --color-white: rgb(255, 255, 255);
  --color-blue: rgb(42, 122, 228);
  --color-blue-hover: rgb(24 100 201);
  --color-label: rgb(162, 162, 162);
  --color-border-input: rgb(200, 200, 200);
  --color-boton-cv: rgb(255, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

section.about,
section.academic,
section.contacto {
  background-color: var(--color-fondo-section);
}

img,
svg,
figure {
  display: block;
  max-width: 100%;
}

ol,
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 3.2rem;
}

.skills__title,
.hobbies__title,
.academic__title,
.experience__title {
  margin-bottom: 3.2rem;
  text-align: center;
}

h3,
.title__text--paragraph {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

a {
  font-size: 1.6rem;
  color: var(--color-texto);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.5s ease;
}

.menu__listen {
  color: aliceblue;
}

.menu__listen:after{
  content: "";
  display: block;
  margin-left: 0;
  background-color: var(--color-blue-hover);
  height: 3px;
  width: 0;
  transition: 0.3s;
}

.menu__listen:hover:after{
  width: 100%;
}

a:hover {
  color: var(--color-fondo-hover);
}

.skills__icon,
.hobbies__icon {
  color: var(--color-blue);
}

header.menu,
section.title,
section.experience {
  padding: 3.2rem 15.2rem;
}

section.about,
section.contacto {
  padding: 6.4rem 15.2rem;
}

section.skills {
  padding: 3.2rem 15.2rem 8.8rem;
}

section.hobbies {
  padding: 0 15.2rem 8.8rem;
}

section.academic {
  padding: 8.2rem 15.2rem;
}

/* Menu */
header.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}

.menu__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.menu__list {
  display: flex;
  gap: 3.2rem;
}

.menu__title{
  color: aliceblue;
}

.menu__title,
.skills__name,
.hobbies__name,
.menu__list-item:nth-last-child(1) a {
  font-size: 1.6rem;
  font-weight: 700;
}

.menu__img{
  content: url('https://api.iconify.design/emojione-monotone/letter-g.svg?color=white&width=24&height=24');
}

/* Title */
.title__container {
  display: grid;
  grid-template-columns: auto minmax(auto, 36.8rem);
  grid-template-areas: "description figure";
  align-items: center;
  gap: 1.7rem;
}

.title__figure {
  grid-area: figure;
}

.title__description {
  grid-area: description;
}

.title__text--paragraph {
  margin-top: 2.4rem;
}

.title__network {
  margin-top: 2.65rem;
  display: flex;
  gap: 3.2rem;
}

.icon__link i{
  font-size: 3rem;
  padding-left: 10px;
}

.bottom__cv{
  padding: 1rem 0 1.5rem 0;
}

.enlace__cv{
  font-size: 1.6rem;
  font-weight: 400;
  color: aliceblue;
  padding: 1.2rem 1.6rem;
  background: var(--color-blue);
  margin-bottom: -2rem 0;
}

.enlace__cv:hover{
  transition: background-color 5s ease;
  color: #000000;
}

/* About */
.about__container {
  max-width: 75.1rem;
  /* padding: 6.4rem 0; */
}

p.about__paragraph {
  margin: 1.6rem 0;
}

/* Skills y Hobbies */
.skills__container,
.hobbies__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  padding-top: 40px;
  justify-content: center;
}

.skills__box,
.hobbies__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 11rem;
  height: 10rem;
}

.skills__box:hover,
.hobbies__box:hover {
  -webkit-box-shadow: 0px 10px 13px -5px #333333,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -5px #333333, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.skills__box ul,
.hobbies__box ul {
  display: flex;
  flex-direction: wrap;
  gap: 1.5rem;
}

.img__icon {
  height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
  /*filter: grayscale(1);*/
  transition: all .3s ease-in-out;
}

/* Académica */
.academic__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 36.8rem));
  justify-content: center;
  gap: 1.6rem;
}

.academic__box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.academic__figure {
  height: 28.6rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.academic__figure:hover{
  -webkit-box-shadow: 0px 10px 13px -5px #333333,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -5px #333333, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.academic__text--date {
  margin-top: 0.8rem;
}

/* Experiencia */
.experience__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}

.experience__box {
  width: 100%;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.experience__box:nth-child(even) {
  flex-direction: row-reverse;
}

.experience__img{
  max-width: 100%;
  object-fit: contain;
}

.experience__info {
  display: block;
  padding: 3rem 5rem 3rem 2rem;
}

.experience__text--title{
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1em;
  font-family: var(--font-footer);
}

.experience__text--description{  
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-family: var(--font-footer);
}

.experience__container-enlace {
  display: flex;
  gap: 1rem;
}

.experience__enlace--cv{
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.2rem 1.6rem;
  border: 1px solid var(--color-blue);
  transition: background-color 0.5s ease;
  margin-bottom: -2rem 0;
}

.experience__enlace--repo,
.experience__enlace--demo,
.contacto__submit {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.2rem 1.6rem;
  border: 1px solid var(--color-blue);
  transition: background-color 0.5s ease;
}

.experience__enlace--repo {
  color: var(--color-blue);
}

.experience__enlace--demo,
.experience__enlace--cv,
.contacto__submit {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.experience__enlace--repo:hover {
  color: var(--color-blue);
  background-color: var(--color-fondo-hover);
}

.experience__enlace--demo:hover,
.contacto__submit:hover {
  color: var(--color-white);
  background-color: var(--color-blue-hover);
}

.experience__content--skills{
  display: flex;
}

.experience__content--skills>img{
  height: 2.5rem;
  object-fit: contain;
  /*filter: grayscale(1);*/
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* Contacto */
.contacto__container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1.6rem;
}

.contacto__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  position: relative;
}

.contacto__title {
  margin-bottom: 0.8rem;
}

.contacto__subtitle,
.contacto__subtext {
  font-size: 1.6rem;
  font-weight: 500;
}

.contacto__img{
  display: flex;
  width: 80%;
}

.contacto__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.contacto__input,
.contacto__textarea {
  font-size: 1.6rem;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 0.4rem;
  border: none;
  border-bottom: 2px solid var(--color-border-input);
  transition: all 0.3s ease;
}

.contacto__input {
  height: 5.6rem;
  padding: 1.6rem 1.2rem;
  padding-top: 3.7rem;
}

.contacto__textarea {
  height: 13.2rem;
  padding: 2.8rem 1.2rem;
  outline: none;
  resize: none;
}

.contacto__input:focus,
.contacto__textarea:focus {
  outline: 0;
  border-bottom: 2px solid var(--color-blue);
}

.contacto__container-input {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.contacto__label,
.contacto__label-textarea {
  color: var(--color-label);
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.contacto__label {
  bottom: 0px;
}

.contacto__label-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 1.8rem;
  padding-left: 1.2rem;
  transition: all 0.3s ease;
}
.contacto__label-name-textarea {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 9.5rem;
  padding-left: 1.2rem;
  transition: all 0.3s ease;
}

.contacto__form input:focus + .contacto__label .contacto__label-name,
.contacto__form input:valid + .contacto__label .contacto__label-name {
  transform: translateY(-78%);
  font-size: 12px;
  padding-bottom: 12px;
  color: var(--color-blue);
}

.contacto__form
  textarea:focus
  + .contacto__label-textarea
  .contacto__label-name-textarea,
.contacto__form
  textarea:valid
  + .contacto__label-textarea
  .contacto__label-name-textarea {
  transform: translateY(-16%);
  font-size: 12px;
  padding-top: -2rem;
  color: var(--color-blue);
}

/* Footer */
footer.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  /*text-align: center;*/
  width: 100%;
  padding: 3.2rem;
  background-color: #000000;
}

.footer__text {
  color: aliceblue;
  font-family: var(--font-footer);
}

.footer__contact{
  padding: 10px;
}

.footer__link i{
  font-size: 2.8rem;
  padding-left: 10px;
  color: #ffffff;
}

@media (max-width: 1330px) {
  /* Experiencia */
  .experience__box,
  .experience__box:nth-child(even) {
    /* flex-direction: column; */
    flex-wrap: wrap;
    max-width: 752px;
  }

  .experience__info:nth-child(even) {
    align-self: flex-start;
  }
}

@media (max-width: 1186px) {
  h1 {
    font-size: 3.2rem;
  }

  /* Menú */
  .menu__list-item:not(:last-child) {
    display: none;
  }

  /* Title */
  .title__text--paragraph,
  .title__network {
    margin-top: 1rem;
  }

  .bottom__cv{
    margin: 1.2rem;
  }

  /* Contacto */
  .contacto__container {
    grid-template-columns: 1fr;
  }

  .contacto__figure {
    display: none;
  }

    /* Formulario */
  .contacto__title,
  .contacto__subtitle,
  .contacto__subtext{
  text-align: center;
  }

  .contacto__submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
}

/* Tablet */
@media (max-width: 1000px) {
  body,
  h4 {
    font-size: 1.4rem;
  }

  h1,
  h2 {
    font-size: 2.2rem;
  }

  h3,
  .title__text--paragraph {
    font-size: 1.6rem;
  }

  section.title,
  section.about,
  section.skills,
  section.hobbies,
  section.academic,
  section.experience,
  section.contacto {
    padding: 3.2rem;
  }

  /* Menú */
  header.menu {
    padding: 1.6rem 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Title */
  .title__container {
    grid-template-columns: auto minmax(auto, 14.6rem);
    gap: 3.8rem;
  }

  /* Académica */
  .academic__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 22.4rem));
    justify-content: center;
    gap: 1.6rem;
  }

  .academic__figure {
    height: 11.8rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .academic__img {
    width: 50%;
  }

  /* Skills y Hobbies */
  .skills__container,
  .hobbies__container {
    grid-template-columns: repeat(auto-fit, minmax(22.4rem, 1fr));
  }

  .skills__box,
  .hobbies__box {
    height: 11.8rem;
  }

    /* Formulario */
 .contacto__title,
 .contacto__subtitle,
 .contacto__subtext{
  text-align: center;
  }

  .contacto__submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
}

/* Mobile */
@media (max-width: 700px) {
  header.menu,
  section.title,
  section.about,
  section.skills,
  section.hobbies {
    padding: 1.6rem;
  }

  a,
  .experience__enlace--repo,
  .experience__enlace--demo,
  .contacto__submit {
    font-size: 1.4rem;
    font-weight: 600;
  }

  /* Menú */
  .menu__list-item:nth-last-child(1) a {
    font-size: 1.4rem;
    font-weight: 400;
  }

  /* Title */
  .title__container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "figure"
      "description";
    gap: 1.6rem;
  }

  .title__figure {
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .title__text--primary{
    text-align: center;
  }

  .title__text--paragraph,
  .title__network {
    margin-top: 1.6rem;
  }

  .title__network {
    gap: 0;
    justify-content: space-between;
  }

  .title__text--paragraph {
    font-size: 1.4rem;
    text-align: center;
  }

  .bottom__cv{
    margin: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about__title,
  .about__paragraph{
    text-align: center;
  }

  .about__signature{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Académica */
  .academic__container {
    grid-template-columns: 1fr;
  }

  .academic__img {
    width: 30%;
  }

  .academic__text--title,
  .academic__text--date{
    text-align: center;
  }

  .experience__info{
    padding: 3rem 1rem 3rem 1rem;
  }

  /* Formulario */
 .contacto__title,
 .contacto__subtitle,
 .contacto__subtext{
  text-align: center;
}

  .contacto__submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
.footer.footer{
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.footer__link{
  margin-top: 30px;
}
}

@media (max-width: 425px) {  
  /* Title */
  .title__figure{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .title__network {
    gap: 0;
    justify-content: space-between;
  }

  .bottom__cv{
    margin: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about__title,
  .about__paragraph{
    text-align: center;
  }

  .about__signature{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Skills y Hobbies */
  .skills__container,
  .hobbies__container {
    grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
  }

  /* Académica */
  .academic__img {
    width: 45%;
  }

  .academic__text--title,
  .academic__text--date{
    text-align: center;
  }

  .experience__enlace--demo,
  .experience__enlace--repo{
    flex-wrap: wrap;
    justify-content: center;
  }

  .experience__text--description{
    size: 2.5rem;
  }

    /* Formulario */
  .contacto__title,
  .contacto__subtitle,
  .contacto__subtext{
    text-align: center;
  }
  
    .contacto__submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
